// @font-face {
//   font-family: 'Montserrat';
//   src: url('/fonts/montserrat-regular-webfont.eot');
//   src: url('/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/montserrat-regular-webfont.woff2') format('woff2'),
//        url('/fonts/montserrat-regular-webfont.woff') format('woff'),
//        url('/fonts/montserrat-regular-webfont.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Montserrat';
//   src: url('/fonts/montserrat-bold-webfont.eot');
//   src: url('/fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/montserrat-bold-webfont.woff2') format('woff2'),
//        url('/fonts/montserrat-bold-webfont.woff') format('woff'),
//        url('/fonts/montserrat-bold-webfont.ttf') format('truetype');
//   font-weight: 700;
//   font-style: normal;
// }


@font-face {
  font-family: 'Menlo';
  src: url('/fonts/Menlo.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.ttf');

}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/fonts/Montserrat-Bold.ttf');

}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('/fonts/Montserrat-SemiBold.ttf');

}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/fonts/Montserrat-Medium.ttf');
}
/* FONTS */
.monserrat {
  font-family: 'Montserrat' !important;
}

.monserrat-bold {
  font-family: 'Montserrat-Bold' !important;
}

.monserrat-semibold {
  font-family: 'Montserrat-SemiBold' !important;
}

.monserrat-regular {
  font-family: 'Montserrat-Regular' !important;
}

.monserrat-medium {
  font-family: 'Montserrat-Medium' !important;
}

.menlo {
  font-family: 'Menlo' !important;
}
