@use "sass:math";

@import "_normalize";
@import "_montserrat";
@import "_variables";

@import "../(pages)/home/page.scss";
@import "../shared-components/footer.scss";
@import "../components/howitworks/index.scss";
@import "../components/cryptobank/index.scss";
@import "../components/vult/index.scss";

.btn-color {
  background: rgb(51, 230, 191);
  background: linear-gradient(
    143deg,
    rgba(51, 230, 191, 1) 0%,
    rgba(4, 57, 199, 1) 100%
  );
}
li:has(> span> .childli) {
  background-color: "#0b2953";
}
.blue-section {
  display: inline-block;
  position: relative;
  background-color: $blue-base;
  color: $gray;
  border-radius: 1rem;
  border: solid 0.5px rgba(255, 255, 255, 0.1);
}

.gradient-text {
  width: fit-content;
  background: rgb(51, 230, 191);
  background: linear-gradient(
    143deg,
    rgba(51, 230, 191, 1) 0%,
    rgba(4, 57, 199, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-border-left {
  position: relative;

  
}

.gradient-border-left::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 3.125rem;
  width: 5px;
  border-radius: 10px;
  background-image: linear-gradient(rgba(51, 230, 191, 1), rgba(4, 57, 199, 1)) ;

}


.bullet-border-left {
  white-space: pre-line;
  position: relative;
  margin-left: 1em;
}

.bullet-border-left::before {
  content: "";
  position: absolute;
  display: block;
  height: 60px;
  width: 30px;
  top: 16px;
  // left: -32px;
  // border-left: 5px solid;
  border-image:rgba(255, 255, 255, 1);
  background-size: 40px 20px;
}


.small-text {
  font-family: "Montserrat";
  font-size: medium;
  font-weight: 100;
}

body {
  background-color: $blue-dark;
  color: #dfe6f3;
  font-family: "Montserrat";
  font-size: 16px;
  min-width: 22.5rem;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    background-color: $blue-base;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-corner {
    background-color: $blue-base;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue-light;
  }
}

/* CONTAINER */

.content {
  margin: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (min-width: 993px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 80%;
  }
}

// circle on backgrand

.circle-middle-left {
  position: absolute;
  top: 19%;
  left: -500px;
  border: 2px solid #33e6bf27;
  border-radius: 50%;
  height: 612px;
  width: 612px;
}

.circle-middle-left-glow {
  position: absolute;
  top: 19%;
  left: -525px;
  border: 2px solid;
  filter: blur(35px);
  background: radial-gradient(
    circle,
    rgba(4, 57, 199, 0.21) 0%,
    rgba(2, 18, 42, 0.38) 100%
  );
  border-radius: 50%;
  height: 662px;
  width: 662px;
}
.circle-middle-right {
  position: absolute;
  top: 80%;
  right: -550px;
  border: 2px solid #33e6bf27;
  border-radius: 50%;
  height: 700px;
  width: 700px;
  z-index: -1;
}

.circle-middle-right-glow {
  position: absolute;
  top: 80%;
  right: -575px;
  filter: blur(35px);
  background: radial-gradient(
    circle,
    rgba(4, 57, 199, 0.17) 0%,
    rgba(2, 18, 42, 0.41) 100%
  );
  border: 2px solid;
  border-radius: 50%;
  height: 750px;
  width: 750px;
  z-index: -1;
}

.circle-bottom {
  position: absolute;
  bottom: 45rem;
  left: 10rem;
  border: 2px solid #33e6bf27;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  z-index: -1;
}

.circle-bottom-glow {
  position: absolute;
  bottom: 59.375rem;
  left: 5rem;
  border: 2px solid;
  filter: blur(35px);
  background: radial-gradient(
    circle,
    rgba(4, 57, 199, 0.17) 0%,
    rgba(2, 18, 42, 0.41) 100%
  );
  border-radius: 50%;
  height: 450px;
  width: 450px;
  z-index: -1;
}


