@import url(./style.css);

.slogan {
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    text-align: start;
    /* font-size: 5rem; */
    font-size: calc(1rem + 4vw);
    font-weight: 900;
    letter-spacing: -0.5px;
    line-height: 117%;

}

.sub-slogan {
    font-size: 22pt
}

#how-to-back-logo {
    position: absolute;
    top: 30%;
    left: 1rem;
    height: 100px;
    width: 100px;
}

.header-img-container {
    position: relative;
    /* width: 512px;
    height: 500px; */
    /* overflow: hidden; */
}



.background-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 400px;
    height: 450px;
    background: radial-gradient(circle, rgba(4, 57, 199, 0.56) 0%, rgba(2, 18, 42, 0.59) 100%);
    filter: blur(50px);
}

.header-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-box {
    border-radius: 20px;
    background-color: #061B3A;
}

.top-left-gradient {
    background: rgb(0, 32, 119);
    background: linear-gradient(125deg, rgba(0, 32, 119, 0.88) 0%, rgba(6, 27, 58, 1) 100%);
}

.bottom-right-gradient {
    background: rgb(0, 32, 119);
    background: linear-gradient(321deg, rgba(0, 32, 119, 0.88) 0%, rgba(6, 27, 58, 1) 100%);
}

.w-75-50 {
    width: 50% !important;
}

.pt-9 {
    padding-top: 9rem !important;
}

@media (max-width: 992px) {

    .slogan {
        text-align: center;
    }

    .sub-slogan {
        font-size: 16pt;
        margin: auto;
    }

    .pt-9 {
        padding-top: 2rem !important;
    }
    .header-img{
        width: 50%  !important;
    }
}

@media (max-width: 576px) {
    .trusted-devices-cont {
        height: 1150px !important;
    }

    .trusted-devices-img-cont {
        height: 450px !important;
    }

    .trusted-devices-img {
        height: 475px !important;
        width: 230px !important;
        margin-top: 0 !important;
    }

    .slogan {
        text-align: center;
    }

    .sub-slogan {
        font-size: 16pt;
        margin: auto;
    }

    .pt-9 {
        padding-top: 2rem !important;
    }
    .header-img{
        width: 80%  !important;
    }
}

@media (min-width: 576px) {
    .trusted-devices-cont {
        height: 1120px !important;
    }

    .trusted-devices-img-cont {
        height: 450px !important;
    }

    .trusted-devices-img {
        height: 475px !important;
        width: 340px !important;
        margin-top: 0 !important;
    }

    /* .slogan {
        text-align: center;
    }

    .sub-slogan {
        font-size: 16pt;
        margin: auto;
    }

    .pt-9 {
        padding-top: 2rem !important;
    } */
}

@media (min-width: 768px) {
    .trusted-devices-cont {
        height: 950px !important;
    }

    .trusted-devices-img {
        height: 400px !important;
        width: 350px !important;
    }

    .trusted-devices-img-cont {
        height: 410px !important;
    }

    /* .slogan {
        text-align: center;
    }

    .sub-slogan {
        font-size: 16pt;
        margin: auto;
    }

    .w-75-50 {
        width: 75% !important;
    }

    .pt-9 {
        padding-top: 2rem !important;
    } */
}


@media (min-width: 992px) {
    .trusted-devices-cont {
        height: 750px !important;
    }

    .trusted-devices-img {
        height: 650px !important;
        width: 350px !important;
    }

    .trusted-devices-img-cont {
        height: 660px !important;
    }

    /* .slogan {
        text-align: center;
    }

    .sub-slogan {
        font-size: 18pt;
        margin: auto;
    } */
}

@media (min-width:1100px) {
    .trusted-devices-cont {
        height: 700px !important;
    }

    .trusted-devices-img {
        height: 700px !important;
        width: 400px !important;
    }

    .trusted-devices-img-cont {
        height: 760px !important;
    }
}


@media (min-width:1250px) {
    .trusted-devices-cont {
        height: 700px !important;
    }

    .trusted-devices-img {
        height: 650px !important;
        width: 450px !important;
    }

    .trusted-devices-img-cont {
        height: 660px !important;
    }
}


@media (min-width: 1500px) {
    .trusted-devices-cont {
        height: 650px !important;
    }

    .trusted-devices-img {
        height: 650px !important;
        width: 550px !important;
    }

    .trusted-devices-img-cont {
        height: 660px !important;
    }
}

/* @media (min-width: 993px) {
    .trusted-devices-cont {
        height: 550px !important;
    }

    .trusted-devices-img {
        height: 550px !important;
        width: 450px !important;
    }

    .trusted-devices-img-cont {
        height: 560px !important;
    }
} */