@font-face {
    font-family: 'Menlo';
    src: url('fonts/Menlo.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.ttf');

}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.ttf');

}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('fonts/Montserrat-SemiBold.ttf');

}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat-Medium.ttf');
}

/* FONTS */
.monserrat {
    font-family: 'Montserrat';
}

.monserrat-bold {
    font-family: 'Montserrat-Bold';
}

.monserrat-semibold {
    font-family: 'Montserrat-SemiBold';
}

.monserrat-regular {
    font-family: 'Montserrat-Regular';
}

.monserrat-medium {
    font-family: 'Montserrat-Medium';
}

.menlo {
    font-family: 'Menlo';
}


/*  */
body {
    background: #02122B;
    font-size: 16px;
    /* -webkit-font-smoothing: antialiased; */
}


/* CONTAINER */


.content {
    margin: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.rounded {
    border-radius: 10px !important;
}

a {
    text-decoration: none;
}

p {
    letter-spacing: -0.5px;
    line-height: 150%;
    margin: 0;
}

.p-text {
    letter-spacing: -0.5px;
    line-height: 150%;
    margin: 0;
}

.circle-top-left {
    position: absolute;
    top: -300px;
    left: -300px;
    border: 2px solid #33e6bf27;
    border-radius: 50%;
    height: 600px;
    width: 600px;
    z-index: -1;
}

.circle-top-left-glow {
    position: absolute;
    top: -325px;
    left: -325px;
    filter: blur(35px);
    background: radial-gradient(circle, rgba(4, 57, 199, 0.17) 0%, rgba(2, 18, 42, 0.41) 100%);
    border-radius: 50%;
    height: 650px;
    width: 650px;
    z-index: -1;
}

.circle-top-right {
    position: absolute;
    top: -50px;
    right: -400px;
    border: 2px solid #33e6bf27;
    border-radius: 50%;
    height: 700px;
    width: 550px;
    z-index: -1;
}

.circle-top-right-glow {
    position: absolute;
    top: -75px;
    right: -425px;
    filter: blur(35px);
    background: radial-gradient(circle, rgba(4, 57, 199, 0.17) 0%, rgba(2, 18, 42, 0.41) 100%);
    border: 2px solid;
    border-radius: 50%;
    height: 750px;
    width: 600px;
    z-index: -1;
}

.circle-middle-left {
    position: absolute;
    top: 30%;
    left: -550px;
    border: 2px solid #33e6bf27;
    border-radius: 50%;
    height: 600px;
    width: 600px;
    z-index: -1;
}

.circle-middle-left-glow {
    position: absolute;
    top: 30%;
    left: -575px;
    border: 2px solid;
    filter: blur(35px);
    background: radial-gradient(circle, rgba(4, 57, 199, 0.17) 0%, rgba(2, 18, 42, 0.41) 100%);
    border-radius: 50%;
    height: 650px;
    width: 650px;
    z-index: -1;
}


.circle-middle-right {
    position: absolute;
    top: 60%;
    right: -550px;
    border: 2px solid #33e6bf27;
    border-radius: 50%;
    height: 700px;
    width: 700px;
    z-index: -1;
}

.circle-middle-right-glow {
    position: absolute;
    top: 60%;
    right: -575px;
    filter: blur(35px);
    background: radial-gradient(circle, rgba(4, 57, 199, 0.17) 0%, rgba(2, 18, 42, 0.41) 100%);
    border: 2px solid;
    border-radius: 50%;
    height: 750px;
    width: 750px;
    z-index: -1;
}

.circle-bottom {
    position: absolute;
    bottom: 700px;
    left: 100px;
    border: 2px solid #33e6bf27;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    z-index: -1;
}

.circle-bottom-glow {
    position: absolute;
    bottom: 675px;
    left: 75px;
    border: 2px solid;
    filter: blur(35px);
    background: radial-gradient(circle, rgba(4, 57, 199, 0.17) 0%, rgba(2, 18, 42, 0.41) 100%);
    border-radius: 50%;
    height: 450px;
    width: 450px;
    z-index: -1;
}

.header {
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'Menlo';
}

.text-bold {
    font-weight: 900;
}

.text-reg {
    font-weight: 100;
}

.navbar {
    padding-block: 25px;
    height: 122px;
}

.color-neutral {
    color: #F3F4F5 !important;
}

.ps-7 {
    padding-left: 7rem;
}

.color-neutral-200 {
    color: #EBECED !important;
}

hr.solid {
    border-top: 3px solid #33E6BF;
}

.gradient-text {
    width: fit-content;
    background: rgb(51, 230, 191);
    background: linear-gradient(143deg, rgba(51, 230, 191, 1) 0%, rgba(4, 57, 199, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-color {
    background: rgb(51, 230, 191);
    background: linear-gradient(143deg, rgba(51, 230, 191, 1) 0%, rgba(4, 57, 199, 1) 100%);
}

.nav-link {
    font-size: medium;
}

.social-icon {
    width: 30px;
    height: 30px;
}

.discord-button {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.discord-link-img {
    width: 40px;
    height: 30px;
}

.blue-section {
    position: relative;
    background-color: #061B3A;
    color: white;
    padding-block: 50px;
    border-radius: 1.5rem;
}

@media (min-width: 993px) {
    .container {
        max-width: 80%;
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 80%;

    }

    .ps-5 {
        padding-left: 2rem !important;
    }
    .navbar {
        height: unset;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 80%;

    }

    small {
        font-size: 18px;
    }

    h5 {
        font-size: 22px;
    }

    .ps-7 {
        padding-left: 0;
    }

    .navbar-brand {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 80%;
    }
}