.home-page {
  background-position: top center;
  background-repeat: no-repeat;
}

.header {
  margin-top: 140px;
  // margin-bottom: 10rem;

  .slogan {
    position: relative;
    display: block;
    text-align: start;
    font-size: calc(2rem + 4vw);
    font-size: 50px;
    font-weight: 900;
    letter-spacing: -0.5px;
    line-height: 117%;
  }
  .subSlogan {
    display: block;
    text-align: start;
    font-size: calc(1.25rem + 1vw);
    font-weight: 600;
    letter-spacing: -0.5px;
    // line-height: 48px;
  }
  .download-box {
    margin-top: 3.75rem;
    margin-bottom: 1rem;
  }
  .image-box {
    position: relative;
    .header-image {
      width: 100%;
    }
    .shadow-img {
      width: 100%;
      height: 492px;
      position: absolute;
      bottom: -15.5rem;
    }
  }
}

.vult-total {
  .section-totals {
    .totals {
      margin-top: 60px;
      .totals-li {
        list-style: none;
        width: 284px;
        .item {
          padding: 15px;
          span {
            display: block;
          }
          .number {
            font-size: 60px;
            text-align: center;
            width: 100%;
          }
          .totals-title {
            width: 100%;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            color: #dfe6f3;
            line-height: 18.72px;
            // letter-spacing: -2.2px;
          }
        }
      }
    }
  }

  .section-trusted {
    .trusted {
      margin-top: 69px;
      margin-bottom: 219px;
      width: 100%;
      text-align: center;
      .trusted-li {
        list-style: none !important;
        .item {
          display: flex;
          list-style: none;
          flex-direction: column;
          width: 155px;
          text-align: center;
          img {
            width: 80px;
            margin-left: auto;
            margin-right: auto;
          }
          .trusted-by-title {
            width: 100%;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            margin-top: 30px;
            line-height: 21.6px;
            li{
              padding-left:37.5px ;
              padding-right:37.5px ;
            }
          }
        }
      }
    }
  }
  .title,
  .trusted-title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 192px;
    text-align: center;
  }
}

//segment on

.problems {
  margin-bottom: 14.25rem;

  .title {
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 3.938rem;
    letter-spacing: -2.2%;
    span {
      font-size: 2.625rem;
      font-weight: 700;
      line-height: 3.938rem;
      letter-spacing: -2.2%;
    }
  }
  .desc {
    margin-top: 0.875rem;
  }
}

//segment tow

.solutions {
  margin-top: 10.563rem;
  margin-bottom: 15.25rem;
  .mainTitle {
    font-size: 2.625rem;
    font-weight: 700;
  }
  .item {
    width: 15.188rem;
    .title {
      font-weight: 700;
      font-size: 1.375rem;
      line-height: 1.601rem;
    }
    .desc {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.313rem;
    }
  }
}

@media (min-width: 1633px) {
  .solutions {
    .item {
      width: 19.188rem !important;
    }
  }
}

@media (max-width: 1312px) {
  .solutions {
    .item {
      width: 30.188rem !important;
    }
  }
}

//segment three
.user-experience {
  margin-bottom: 15.063rem;
}

//segment four
.best-features {
  margin-bottom: 15.063rem;
  .row {
    .asset-managemant {
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.05);
      background-image: linear-gradient(
        to bottom,
        rgba(13, 25, 43, 0),
        rgba(33, 85, 223, 0.3)
      );

      img {
        // height: 33.813rem;
        width: 17.375rem;
      }
    }
    .crypto-exchange {
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.05);
      background-image: linear-gradient(
        to top,
        rgba(13, 25, 43, 0),
        rgba(33, 85, 223, 0.3)
      );
      img {
        width: 18.813rem;
        // height: 36.6rem;
      }
    }
  }
  .leading-fiat {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    background-image: linear-gradient(
      to right,
      rgba(13, 25, 43, 0),
      rgba(33, 85, 223, 0.3)
    );

    .title {
      font-size: 1.75rem;
    }
    p {
      font-size: 1.25rem;
    }
  }
}

//segment four
.best-features {
  margin-bottom: 15.063rem;
}
//segment five
.features {
  margin-bottom: 15.063rem;
}
//segment six
.whoisfor {
  margin-bottom: 15.063rem;
  .whoisfor-list {
  }
}
