.image {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slogan {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: start;
    font-size: calc(1rem + 4vw) !important;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 117%;

}

.header-img {
    width: 518px;
    height: 500px;
}

.back-logo {
    position: absolute;
    bottom: -8rem;
    right: 2rem;
}

.text-small {
    font-size: medium;
    font-weight: 100;

}

.year-pin {
    position: absolute;
    right: 3rem;
    top: -2rem;
}

@media (max-width: 768px) {
    .year-pin {
        width: 100px;
        height: 100px;
        right: 1rem;
    }
}


.store {
    margin-top: 150px;
    position: relative;
    background: rgb(0, 32, 119);
    background: linear-gradient(66deg, rgba(0, 32, 119, 1) 0%, rgba(51, 230, 191, 1) 100%);
    /* color: white; */
    padding-block: 50px;
    border-radius: 0.75rem;
    min-height: 450px;
}

.store .row {
    min-height: inherit;
}

.email-form {
    display: flex;
    justify-content: flex-end;
}

#inputemail {
    background: #061B3A !important;
    border-color: transparent;
    color: white
}

// ::placeholder {
//     color: #BDBDBD !important;
// }

.feature-img-size {
    width: 56px;
    height: 56px;
}

.gradient-border-left {
    position: relative;
}

.gradient-border-left::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 48px;
    border-left: 5px solid;
    border-image: linear-gradient(rgba(51, 230, 191, 1), rgba(4, 57, 199, 1)) 5;
}

#img-glow {
    height: 50px;
    width: 440px;
    background: radial-gradient(circle, rgba(51, 230, 191, 0.57) 0%, rgba(16, 16, 16, 1) 100%);
    filter: blur(15px);
    margin-top: -50px;
}

.store-img {
    margin-bottom: -50px;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-inline: auto;
}

@media (max-width: 992px) {


    .store-img-cont {
        min-height: 450px;
    }
}


@media (max-width: 768px) {
    #img-glow {
        height: 25px;
        width: 240px;
        margin-top: 0px;
    }

    #back-logo {
        width: 100px;
        bottom: 1rem;
        left: 2rem;
    }

    .store-img-cont {
        min-height: 350px;
    }
}

@media (max-width: 576px) {

    .store-img-cont {
        min-height: 250px;
    }
}