@font-face {
  font-family: 'Menlo';
  src: url('/fonts/Menlo.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.ttf');

}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/fonts/Montserrat-Bold.ttf');

}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('/fonts/Montserrat-SemiBold.ttf');

}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/fonts/Montserrat-Medium.ttf');
}

/* FONTS */
.monserrat {
  font-family: 'Montserrat' !important;
}

.monserrat-bold {
  font-family: 'Montserrat-Bold' !important;
}

.monserrat-semibold {
  font-family: 'Montserrat-SemiBold' !important;
}

.monserrat-regular {
  font-family: 'Montserrat-Regular' !important;
}

.monserrat-medium {
  font-family: 'Montserrat-Medium' !important;
}

.menlo {
  font-family: 'Menlo' !important;
}


/*  */
body {
  background: #02122B !important;
  font-size: 16px;
  /* -webkit-font-smoothing: antialiased; */
}


/* CONTAINER */


.content {
  margin: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.rounded {
  border-radius: 10px !important;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: -0.5px;
  line-height: 150%;
  margin: 0;
}

.p-text {
  letter-spacing: -0.5px;
  line-height: 150%;
  margin: 0;
}

.circle-top-left {
  position: absolute;
  top: -300px;
  left: -300px;
  border: 2px solid #33e6bf27;
  border-radius: 50%;
  height: 600px;
  width: 600px;
  z-index: -1;
}

.circle-top-left-glow {
  position: absolute;
  top: -325px;
  left: -325px;
  filter: blur(35px);
  background: radial-gradient(circle, rgba(4, 57, 199, 0.17) 0%, rgba(2, 18, 42, 0.41) 100%);
  border-radius: 50%;
  height: 650px;
  width: 650px;
  z-index: -1;
}

.circle-top-right {
  position: absolute;
  top: -50px;
  right: -400px;
  border: 2px solid #33e6bf27;
  border-radius: 50%;
  height: 700px;
  width: 550px;
  z-index: -1;
}

.circle-top-right-glow {
  position: absolute;
  top: -75px;
  right: -425px;
  filter: blur(35px);
  background: radial-gradient(circle, rgba(4, 57, 199, 0.17) 0%, rgba(2, 18, 42, 0.41) 100%);
  border: 2px solid;
  border-radius: 50%;
  height: 750px;
  width: 600px;
  z-index: -1;
}

.circle-middle-left {
  position: absolute;
  top: 30%;
  left: -550px;
  border: 2px solid #33e6bf27;
  border-radius: 50%;
  height: 600px;
  width: 600px;
  z-index: -1;
}

.circle-middle-left-glow {
  position: absolute;
  top: 30%;
  left: -575px;
  border: 2px solid;
  filter: blur(35px);
  background: radial-gradient(circle, rgba(4, 57, 199, 0.17) 0%, rgba(2, 18, 42, 0.41) 100%);
  border-radius: 50%;
  height: 650px;
  width: 650px;
  z-index: -1;
}


.circle-middle-right {
  position: absolute;
  top: 60%;
  right: -550px;
  border: 2px solid #33e6bf27;
  border-radius: 50%;
  height: 700px;
  width: 700px;
  z-index: -1;
}

.circle-middle-right-glow {
  position: absolute;
  top: 60%;
  right: -575px;
  filter: blur(35px);
  background: radial-gradient(circle, rgba(4, 57, 199, 0.17) 0%, rgba(2, 18, 42, 0.41) 100%);
  border: 2px solid;
  border-radius: 50%;
  height: 750px;
  width: 750px;
  z-index: -1;
}

.circle-bottom {
  position: absolute;
  bottom: 700px;
  left: 100px;
  border: 2px solid #33e6bf27;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  z-index: -1;
}

.circle-bottom-glow {
  position: absolute;
  bottom: 675px;
  left: 75px;
  border: 2px solid;
  filter: blur(35px);
  background: radial-gradient(circle, rgba(4, 57, 199, 0.17) 0%, rgba(2, 18, 42, 0.41) 100%);
  border-radius: 50%;
  height: 450px;
  width: 450px;
  z-index: -1;
}

.header {
  margin-top: 50px;
  // font-size: 50px;
  text-align: center;
}

h2 {
  font-family: 'Menlo';
}

.text-bold {
  font-weight: 900;
}

.text-reg {
  font-weight: 100;
}

.navbar {
  padding-block: 25px;
  height: 122px;
}

.color-neutral {
  color: #F3F4F5 !important;
}

.ps-7 {
  padding-left: 7rem;
}

.color-neutral-200 {
  color: #EBECED !important;
}

hr.solid {
  border-top: 3px solid #33E6BF;
}

.gradient-text {
  width: fit-content;
  background: rgb(51, 230, 191) !important;
  background: linear-gradient(143deg, rgba(51, 230, 191, 1) 0%, rgba(4, 57, 199, 1) 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.btn-color {
  background: rgb(51, 230, 191);
  background: linear-gradient(143deg, rgba(51, 230, 191, 1) 0%, rgba(4, 57, 199, 1) 100%);
}

.nav-link {
  font-size: medium;
}

.social-icon {
  width: 30px;
  height: 30px;
}

.discord-button {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.discord-link-img {
  width: 40px;
  height: 30px;
}

.blue-section {
  position: relative;
  background-color: #061B3A;
  color: white;
  padding-block: 50px;
  border-radius: 1.5rem;
}

@media (min-width: 993px) {
  .container {
    max-width: 80% !important;
  }
}


@media (max-width: 992px) {
  .container {
    max-width: 80% !important;

  }

  .ps-5 {
    padding-left: 2rem !important;
  }

  .navbar {
    height: unset;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 80% !important;

  }

  small {
    font-size: 18px;
  }

  h5 {
    font-size: 22px;
  }

  .ps-7 {
    padding-left: 0;
  }

  .navbar-brand {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

}

@media (max-width: 576px) {
  .container {
    max-width: 80% !important;
  }
}


/*
  ====> howItWorks
*/

.slogan {
  position: relative;
  /* display: flex; */
  /* justify-content: center; */
  text-align: start;
  /* font-size: 5rem; */
  font-size: calc(1rem + 4vw) !important;
  font-weight: 900;
  letter-spacing: -0.5px;
  line-height: 117%;

}

.sub-slogan {
  font-size: 22pt
}

#how-to-back-logo {
  position: absolute;
  top: 30%;
  left: 1rem;
  height: 100px;
  width: 100px;
}

.header-img-container {
  position: relative;
  /* width: 512px;
  height: 500px; */
  /* overflow: hidden; */
}



.background-overlay {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 400px;
  height: 450px;
  background: radial-gradient(circle, rgba(4, 57, 199, 0.56) 0%, rgba(2, 18, 42, 0.59) 100%);
  filter: blur(50px);
}

.header-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-box {
  border-radius: 20px;
  background-color: #061B3A;
}

.top-left-gradient {
  background: rgb(0, 32, 119);
  background: linear-gradient(125deg, rgba(0, 32, 119, 0.88) 0%, rgba(6, 27, 58, 1) 100%);
}

.bottom-right-gradient {
  background: rgb(0, 32, 119);
  background: linear-gradient(321deg, rgba(0, 32, 119, 0.88) 0%, rgba(6, 27, 58, 1) 100%);
}

.w-75-50 {
  width: 50% !important;
}

.pt-9 {
  padding-top: 9rem !important;
}

@media (max-width: 992px) {

  .slogan {
      text-align: center;
  }

  .sub-slogan {
      font-size: 16pt;
      margin: auto;
  }

  .pt-9 {
      padding-top: 2rem !important;
  }
  .header-img{
      width: 50%  !important;
  }
}

@media (max-width: 576px) {
  .trusted-devices-cont {
      height: 1150px !important;
  }

  .trusted-devices-img-cont {
      height: 450px !important;
  }

  .trusted-devices-img {
      height: 475px !important;
      width: 230px !important;
      margin-top: 0 !important;
  }

  .slogan {
      text-align: center;
  }

  .sub-slogan {
      font-size: 16pt;
      margin: auto;
  }

  .pt-9 {
      padding-top: 2rem !important;
  }
  .header-img{
      width: 80%  !important;
  }
}

@media (min-width: 576px) {
  .trusted-devices-cont {
      height: 1120px !important;
  }

  .trusted-devices-img-cont {
      height: 450px !important;
  }

  .trusted-devices-img {
      height: 475px !important;
      width: 340px !important;
      margin-top: 0 !important;
  }


}

@media (min-width: 768px) {
  .trusted-devices-cont {
      height: 950px !important;
  }

  .trusted-devices-img {
      height: 400px !important;
      width: 350px !important;
  }

  .trusted-devices-img-cont {
      height: 410px !important;
  }


}


@media (min-width: 992px) {
  .trusted-devices-cont {
      height: 750px !important;
  }

  .trusted-devices-img {
      height: 650px !important;
      width: 350px !important;
  }

  .trusted-devices-img-cont {
      height: 660px !important;
  }

  
}

@media (min-width:1100px) {
  .trusted-devices-cont {
      height: 700px !important;
  }

  .trusted-devices-img {
      height: 700px !important;
      width: 400px !important;
  }

  .trusted-devices-img-cont {
      height: 760px !important;
  }
}


@media (min-width:1250px) {
  .trusted-devices-cont {
      height: 700px !important;
  }

  .trusted-devices-img {
      height: 650px !important;
      width: 450px !important;
  }

  .trusted-devices-img-cont {
      height: 660px !important;
  }
}


@media (min-width: 1500px) {
  .trusted-devices-cont {
      height: 650px !important;
  }

  .trusted-devices-img {
      height: 650px !important;
      width: 550px !important;
  }

  .trusted-devices-img-cont {
      height: 660px !important;
  }
}
/*
====> backedBy
*/
#page-title {
  font-size: calc(1rem + 2vw);
}

.card-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline: 10%;
  gap: 10px;
  z-index: 1;
  position: relative;
}


.card-item {
  background: #02122B;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-item:hover {
  background: #02122bb0;

}

.card-item .avatar {
  width: 100px;
  height: 100px;
}

#segment-1 .card-item {
  width: 250px;
  height: 250px;
  position: relative;
  padding: 30% 2em;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 1em;
  margin: auto;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(153deg, rgba(51, 230, 191, 1) 0%, rgba(4, 57, 199, 1) 100%);
  }
}

#segment-2 .card-item {
  width: 350px;
  height: 275px;
  position: relative;
  padding: 30% 2em;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 1em;
  margin: auto;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(153deg, rgba(51, 230, 191, 1) 0%, rgba(4, 57, 199, 1) 100%);
  }
}

#segment-3 .card-item {
  width: 210px;
  height: 250px;
  position: relative;
  padding: 30% 2em;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 1em;
  margin: auto;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -5px;
    border-radius: inherit;
    background: linear-gradient(153deg, rgba(51, 230, 191, 1) 0%, rgba(4, 57, 199, 1) 100%);
  }
}

#segment-3 {
  margin-bottom: 8rem;
}

.card-item img {
  border-radius: 50%;
}

@media (max-width:992px) {
  .card-cont {
    justify-content: center;
  }
}

#docs-sec{
  .slogan {
      position: relative;
      /* display: flex; */
      /* justify-content: center; */
      text-align: start;
      /* font-size: 60pt; */
      /* font-size: 5rem; */
      font-size: calc(1rem + 4vw);
      font-weight: 900;
      letter-spacing: -0.5px;
      line-height: 117%;
  
    }
  
    .sub-slogan {
      font-size: 18px
    }
  
    .header-img-container {
      position: relative;
      /* width: 512px;
      height: 500px; */
      width: 80%;
      height: 80%;
      /* overflow: hidden; */
    }
  
    .background-circle-2 {
      position: absolute;
      bottom: 5%;
      right: -20%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      border: 2px solid #33e6bf27;
      border-radius: 50%;
      width: 300px;
      height: 300px;
    }
  
    .background-overlay-2 {
      position: absolute;
      bottom: 5%;
      right: -20%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 300px;
      height: 300px;
      background: linear-gradient(321deg, rgba(4, 57, 199, 0.21) 0%, rgba(2, 18, 42, 0.38) 100%);
      filter: blur(50px);
    }
  
    .background-circle {
      position: absolute;
      bottom: 10%;
      left: 20%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      border: 2px solid #33e6bf27;
      border-radius: 50%;
      width: 300px;
      height: 300px;
    }
  
    .background-overlay {
      position: absolute;
      bottom: 10%;
      left: 10%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 300px;
      height: 300px;
      background: linear-gradient(321deg, rgba(4, 57, 199, 0.21) 0%, rgba(2, 18, 42, 0.38) 100%);
      filter: blur(50px);
    }
  
    .header-img {
      position: relative;
      width: 80%;
      height: 80%;
      object-fit: cover;
    }
  
    #docs-back-logo {
      position: absolute;
      top: 25%;
      left: 15rem;
      height: 120px;
      width: 120px;
  
    }
  
    @media (min-width: 993px) {
  
      .sub-slogan {
        font-size: 16px !important;
      }
    }
  
    @media (max-width: 992px) {
  
      .sub-slogan {
        font-size: 16px !important;
      }
    }
  
    @media (max-width: 768px) {
      .m-left {
        /* margin-left: -5rem; */
      }
  
      #docs-back-logo {
        top: 10%;
        left: 5rem;
        height: 120px;
        width: 120px;
      }
  
      .sub-slogan {
        font-size: 16px !important;
      }
    }
  
    @media (max-width: 576px) {
      .m-left {
        /* margin-left: -5rem; */
      }
  
      .sub-slogan {
        font-size: 16px !important;
      }
  
      .background-circle {
        width: 200px;
        height: 200px;
      }
  
      .background-overlay {
        width: 200px;
        height: 200px;
      }
  
      .background-circle-2 {
        width: 200px;
        height: 200px;
      }
  
      .background-overlay-2 {
        width: 200px;
        height: 200px;
      }
  
      #docs-back-logo {
        top: 10%;
        left: 5rem;
        height: 120px;
        width: 120px;
      }
    }
}
#vult-main{
  .slogan {
      position: relative;
      /* display: flex; */
      /* justify-content: center; */
      text-align: center;
      /* font-size: 60pt; */
  
      font-size: calc(1.5rem + 4vw);
      font-weight: 900;
      letter-spacing: -0.5px;
      line-height: 117%;
    }
  
    .vix-chart {
      width: 80% !important;
    }
  
    .vix-faq {
      position: relative;
      width: 80%;
      margin: auto;
      margin-top: 10rem;
      margin-bottom: 10rem;
    }
  
    @media (max-width: 576px) {
      .vix-faq {
        width: 100% !important;
      }
  
      .vix-chart {
        width: 100% !important;
      }
  
    }
  
    @media (max-width: 768px) {
      .vix-faq {
        width: 100% !important;
      }
  
      .vix-chart {
        width: 100% !important;
      }
  
    }
  
  
    .accordion-item {
      border: none;
      background-color: transparent;
      padding: 0;
      outline: 0;
      margin-block: 10px;
    }
  
  
  
    .accordion-button {
      color: white;
      border-radius: 10px;
      background: #061B3A;
      border: unset;
    }
  
    .accordion-button:not(.collapsed) {
      color: white;
      border-radius: 10px;
      background: #061B3A;
    }
  
    .accordion-collapse {
      color: #EBECED;
      background: #02122B;
    }
  
    .accordion-button:focus {
      box-shadow: none;
    }
  
    .accordion-button:not(.collapsed) {
      box-shadow: none;
    }
  
    .accordion-button.collapsed::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
  
    .accordion-button:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}

/*
====> faq page
*/

.faq {
  width: 70%;
  margin: auto;
  margin-bottom: 10rem;
  .accordion-item {
    border: none;
    background-color: transparent;
    padding: 0;
    outline: 0;
    margin-block: 10px;
  }
  
  
  
  .accordion-button {
    color: white;
    border-radius: 10px;
    background: #061B3A;
    border: unset;
  }
  
  .accordion-button:not(.collapsed) {
    color: white;
    border-radius: 10px;
    background: #061B3A;
  }
  
  .accordion-collapse {
    color: #EBECED;
    background: #02122B;
  }
  
  .accordion-button:focus {
    box-shadow: none;
  }
  
  .accordion-button:not(.collapsed) {
    box-shadow: none;
  }
  
  .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  
  
  
  
  @media (min-width: 993px) {
  
    .faq {
        width: 70%;
  
    }
  }
  
  @media (max-width: 992px) {
    .faq {
        width:90%;
    }
  }
  
  @media (max-width: 768px) {
    .faq {
        width: 100%;
     
    }
  }
  
  @media (max-width: 576px) {
    .faq {
        width:100%;
  
    }
  }
}

#img-glow {
  height: 50px;
  width: 440px;
  background: radial-gradient(circle, rgba(51, 230, 191, 0.57) 0%, rgba(16, 16, 16, 1) 100%);
  filter: blur(15px);
  margin-top: -50px;
}