@use "sass:math";

@function rem($px, $base: 16) {
  @return #{math.div($px, $base)}rem;
}

$blue-base: #061b3a;
$blue-light: #11284a;
$blue-dark: #02122b;
$blue-persian: #4879fd;
$blue-sharp: #0439c7;
$cyan-base: #33e6bf;
$cyan-dark: #2ed5c0;
$cyan-light: #2ed5c0;

$gray-1: #ffffff;
$gray-2: #fafafa;
$gray-3: #f5f5f5;
$gray-4: #f0f0f0;
$gray-5: #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-9: #434343;
$gray-10: #262626;
$gray-11: #1f1f1f;
$gray-12: #141414;
$gray-13: #000000;

$linear-gradient: linear-gradient(82deg, $cyan-base 8%, $blue-sharp 132%);

.vult-page {
  .ant-collapse {
    border: none;
    border-radius: 0;

    .ant-collapse-content-box {
      color: $gray-5;
      font-size: rem(16);
      font-weight: 400;
      line-height: rem(24);
      padding: rem(32) rem(16) 0;
    }

    .ant-collapse-content {
      background-color: transparent;
      border: none;
    }

    .ant-collapse-header {
      background-color: $blue-base;
      border-radius: rem(8);
      color: $gray-1;
      font-size: rem(14);
      font-weight: 700;
      line-height: rem(22);
      padding: rem(20) rem(16);
    }

    .ant-collapse-item {
      border: none;

      + .ant-collapse-item {
        margin-top: rem(32);
      }
    }
  }

  .vult-gradient-txt {
    background-image: $linear-gradient;
    background-clip: text;
    color: transparent;
  }

  .vult-page-mediaspace {
    .heading {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: rem(48);
      justify-content: center;

      .title {
        font-size: rem(96);
        font-weight: 700;
        line-height: rem(144);
        text-align: center;
      }

      .price {
        font-size: rem(96);
        font-weight: 600;
      }
    }

    .list {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: rem(112);
      justify-content: center;
      margin-top: rem(112);
      padding: 0;

      .title {
        display: block;
        font-size: rem(20);
        font-weight: 500;
        text-transform: uppercase;
      }

      .value {
        display: block;
        font-size: rem(40);
        font-weight: 700;
        margin-top: rem(16);
      }

      li {
        background-color: rgba($color: $gray-1, $alpha: 0.05);
        border: solid rem(1) rgba($color: $gray-1, $alpha: 0.1);
        border-radius: rem(8);
        list-style: none;
        padding: rem(24) rem(32);
        text-align: center;
      }
    }

    .description {
      display: block;
      font-size: rem(20);
      font-weight: 500;
      margin-top: rem(48);
      text-align: center;
    }
  }

  .vult-page-faq {
    .vult-page-icon {
      bottom: 0;
      position: absolute;
      right: 0;
    }

    .container {
      max-width: rem(932) !important;
      padding-bottom: rem(222);
      position: relative;
    }
  }

  .vult-page-stats {
    .heading {
      font-size: rem(48);
      font-weight: 700;
      line-height: rem(72);
      text-align: center;
    }

    .list {
      margin-top: rem(24);
      padding: 0;

      .title {
        display: block;
        font-size: rem(24);
        font-weight: 500;
        line-height: rem(36);
      }

      .date {
        display: block;
        font-size: rem(48);
        font-weight: 700;
        line-height: rem(56);
        margin-top: rem(32);
      }

      .text {
        display: block;
        font-size: rem(64);
        font-weight: 700;
        line-height: rem(74);
        margin-top: rem(32);
      }

      li {
        list-style: none;
        text-align: center;

        + li {
          margin-top: rem(48);
        }
      }
    }

    .vult-page-icon {
      bottom: 0;
      left: 0;
      position: absolute;
    }

    .container {
      max-width: rem(932) !important;
      padding: rem(80) 0 rem(222);
      position: relative;
    }
  }

  .vult-page-header {
    margin-bottom: rem(80);
  }

  .vult-page-footer {
    margin-top: rem(80);
  }
}
