@use "@/styles/variables" as *;

.support-page {
  .ant-collapse {
    border: none;
    border-radius: 0;
    font-family: $secondary-font;
    margin-top: rem(56);

    .ant-collapse-content-box {
      color: $gray-5;
      font-size: rem(16);
      font-weight: 400;
      line-height: rem(24);
      padding: rem(10) rem(16) 0;
    }

    .ant-collapse-content {
      background-color: transparent;
      border: none;
    }

    .ant-collapse-header {
      background-color: $blue-base;
      border-radius: rem(8);
      color: $gray-1;
      font-size: rem(18);
      font-weight: 400;
      line-height: rem(22);
      padding: rem(20) rem(16);
    }

    .ant-collapse-item {
      border: none;

      + .ant-collapse-item {
        margin-top: rem(10);
      }
    }
  }

  .introduction {
    .heading {
      font-size: rem(64);
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }

    .description {
      color: #c9d6e8;
      font-size: rem(16);
      font-weight: 400;
      margin: rem(24) auto 0;
      max-width: rem(560);
      text-align: center;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      gap: rem(32);
      justify-content: center;
      margin-top: rem(56);

      .icon {
        background-color: rgba($color: #4879fd, $alpha: 0.1);
        border-radius: rem(8);
        fill: #4879fd;
        height: rem(42);
        padding: rem(8);
        width: rem(42);
      }

      .title {
        font-family: $secondary-font;
        font-size: rem(20);
        font-weight: 600;
        margin-top: rem(48);
      }

      .desc {
        color: $gray-5;
        font-size: rem(15);
        line-height: rem(20);
        margin-top: rem(8);
      }

      .link {
        color: #4879fd;
        float: left;
        font-size: rem(16);
        font-weight: 500;
        margin-top: rem(8);
        text-decoration: underline !important;
      }

      li {
        background-color: #061b3a;
        border: solid rem(1) #11284a;
        border-radius: rem(16);
        overflow: hidden;
        padding: rem(24) rem(16) rem(16);
        width: rem(328);
      }
    }
  }

  .faq {
    margin-top: rem(132);

    .heading {
      font-size: rem(36);
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

@media (min-width: rem(992)) {
  .support-page {
    .introduction {
      .list {
        flex-wrap: nowrap;

        .item {
          width: 100%;
        }
      }
    }
  }
}
